.topic-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0;
}

.user-info-style div,
.topic-card * {
  width: fit-content;
}

.user-info-parent {
  background-color: white;
  border-radius: 10px;
}
/* 
.edit-topic-action{
  display: none;
}

.topic-card:hover .edit-topic-action{
  display: block;
} */
